# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.kilo/
.svn/
.swiftpm/
migrate_working_dir/

# IDE / Editor
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
.widget_preview/

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/captures/

# iOS / macOS
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/GeneratedPluginRegistrant.h
**/ios/Flutter/GeneratedPluginRegistrant.m
**/ios/.symlinks/
**/ios/Pods/
**/ios/Flutter/.last_build_id
**/Pods/
**/.symlinks/

# Web
/web/.dart_tool/

# Keystores and Certificates
*.keystore
*.jks
key.properties
